@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron:wght@500&family=Poppins:wght@400;600;700&family=Roboto+Serif:ital,opsz,wght@1,8..144,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* nav */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(18, 18, 62);
    height: 80px;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0px 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    font-size: 1.01rem;
    color: rgb(153 ,153, 226);
}

.left{
    font-size: 1.5rem;
}


/* main */

.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
    margin:  0;
}

.firstSection > div{
    width: 30%;
    /* background-color: red; */
}

.leftSection{
    /* background-color: red; */
    font-size: 3rem;
    margin: 50px 0;
}

.leftSection .buttons{
    padding: 45px 0;
}

.buttons .btn:hover{
    color: #1e2167;
    background-color: white;
}

.leftSection .btn{
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.rightSection img{
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
}

.purple{
    color: rgb(170,107,220)
}

.rightSection img{
    width: 400px;
    border-radius: 50%;
    border: 10px solid #BC0EEF;
}

#element{
    color: rgb(170,107,220)
}


.share{
    /* position: absolute; */
    bottom: 3rem;
    left: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 100px; */
    margin-top: 0;
}

.share p{
    font-size: 17px;
    color: var(--text-color);
    margin-right: 25px;
    margin-bottom: 10px;
}

.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 45px;
    /* background: linear-gradient(130.08deg, #383528 0%, #191919 100%); */
    box-shadow: 0px 20px 40px #00000070;
    /* border: 1px solid #3b3b3b; */
    color: white;
    font-size: 20px;
    margin: 0 7px;
    transition: all 0.3s ease-in-out;
}

.social i:hover{
    /* border: 1px solid #3b3b3b; */
    /* transition: 0.1s; */
    font-size: 0.8rem;
    background-color: lightgray;
    color: #BC0EEF;
}


@keyframes imgg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0);
    }
}